.ServiceItem {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    padding-left: 60px;
}

.ServiceItem .icon {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;
    flex-shrink: 0;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
}

.ServiceItem .icon img {
    width: 50%;
}

.ServiceItem .textContent {
    min-height: 280px;
    position: relative;
}

.ServiceItem .textContent .serviceButton {
    position: absolute;
    bottom: 0;
    font-size: .9rem;
    padding: 10px 25px;
    left: 0;
}

.ServiceItem .serviceTitle {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 30px;
    text-align: justify;
}

.ServiceItem .serviceText {
    color: #383838;
    line-height: 1.5;
    font-size: 1rem;
}

@media screen and (max-width: 1400px) {
    .ServiceItem {
        min-height: 350px;
    }
}

@media screen and (max-width: 1200px) {
    .ServiceItem {
        flex-direction: column;
        align-items: center;
    }
    
    .ServiceItem .icon {
        margin-bottom: 20px;
        margin-right: 0;
    }

    .ServiceItem .serviceTitle {
        text-align: center;
    }

    .ServiceItem .serviceText {
        text-align: left;
    }
}

@media screen and (max-width: 992px) {

    .ServiceItem .textContent {
        min-height: 220px;   
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ServiceItem .textContent .serviceText {
        text-align: center;
    }

    .ServiceItem .textContent .serviceButton {
        position: relative;
        margin-top: 50px;
    }
}

@media screen and (max-width: 768px) {
    .ServiceItem {
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 576px) {
    .ServiceItem {
        padding-left: 60px;
        padding-right: 60px;
    }
}