.Carousel .slick-thumb {
    width: 120px;
    height: 80px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.Carousel .slick-slide img {
    width:500px;
}

.Carousel .slick-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}