
.Carousel {
    width: 500px;
    position: relative;
}

.Carousel .display {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.Carousel .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.5s;
}

.Carousel .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Carousel .thumbs {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.Carousel .thumb {
    width: 150px;
    height: 99px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
}

.Carousel .thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s ease;
}

.Carousel .thumb:hover img {
    transform: scale(1.1);
}