
.KnowUs {
    background: #F8F8F8;
    overflow: hidden;
}

.KnowUs .videoPlaceholder {
    position: relative;
}

.KnowUs .videoPlaceholder .videoThumb {
    position: absolute;
    left: calc(250px - 25px);
    width: 50px;
    top: calc(50% - 25px);
}

.KnowUs .videoPlaceholder img {
    width: 500px;
}

.KnowUs .container {
    padding: 100px 0;
}

.KnowUs h2 {
    margin-bottom: 30px;
}

.KnowUs p {
    color: #707070;
    line-height: 1.8;
}

@media screen and (max-width: 1200px) {
    .KnowUs .videoPlaceholder img {
        width: 100%;
    }

    .KnowUs .videoPlaceholder .videoThumb {
        left: calc(50% - 25px);
    }
}

@media screen and (max-width: 992px) {
    .KnowUs h2,
    .KnowUs p {
        text-align: center;
    }

    .KnowUs .videoPlaceholder { 
        margin-bottom: 20px;
    }
    .KnowUs .buttonWrapper {
        display: flex;
        justify-content: center;
    }

}