.Home .theCompany {
    position: relative;
    padding-top: 270px;
    padding-bottom: 50px;
}

.Home .theCompany .popup {
    position: absolute;
    width: 800px;
    min-height: 250px;
    left: calc(50% - 400px);
    top: -125px;
    padding: 30px 50px;
}

.Home .theCompany .popup h2 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.4;
}

.Home .callToAction {
    padding: 100px 0;
}

.Home .callToAction .headingLg:first-child {
    margin-bottom: 15px;
}

.Home .aboutUs .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Home .aboutUsContainer {
    width: 950px;
}

.Home .aboutUsContainer .aboutUsHeader {
    background: #383838;
    padding: 50px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    line-height: 1.8;
}

.Home .Card {
    min-height: 450px;
}

.prevButton, .nextButton {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 40px;
    color: #707070;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.prevButton {
    left: 25px;
    top: calc(50% - 25px);
    position: absolute;
}

.nextButton {
    right: 25px;
    top: calc(50% - 25px);
    position: absolute;
}



.Home .aboutUsContainer .aboutUsBody {
    padding: 40px 30px;
}

.brandQuality:not(:last-child) {
    border-right: 3px solid #383838;
}

.brandQuality .brandQualityTitle {
    text-transform: uppercase;
    color: #4B4B4B;
    font-weight: 600;
    margin-bottom: 10px;
}

.brandQuality .brandQualityInfo {
    margin-bottom: 15px;
}

.brandQuality:not(:first-child) {
    padding-left: 30px;
}

.brandQuality .brandQualityInfo h3 {
    color: #14837B;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: .9;
}

.brandQuality:nth-child(2) .brandQualityInfo {
    margin-bottom: 22px;
}

.brandQuality:nth-child(2) .brandQualityInfo h3 {
    font-size: 1.8rem;
}

.brandQuality .brandQualityInfo {
    display: flex;
}

.brandQuality .brandQualityInfo .rating {
    width: 50px;
    flex-shrink: 0;
    object-fit: contain;
}

.brandQuality .brandQualityInfo h3 small {
    font-size: .8rem;
}

.brandQuality:first-child .brandQualityInfo h3 small {
    display: inherit;
    margin-top: -2px;
}

.brandQuality .brandQualityInfo h3 .bigNumber {
    font-size: 4rem;
}

.brandQuality .brandQualityDescription {
    line-height: 1.3;
    font-size: .9rem;
    font-weight: 400;
}

.Home #nossos_servicos {
    overflow: hidden;
    position: relative;
}

.Home .callToAction .ButtonLink {
    margin-left: 50px;
}

@media screen and (max-width: 1200px) {
    .Home .Card {
        min-height: 510px;
    }

    .Home #nossos_servicos .sectionTitle {
        margin-bottom: 0 !important;
    }
}

@media screen and (max-width: 992px) {
    .Home .Card {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 50px;
        min-height: 300px;
    }

    #nossos_servicos {
        padding-top: 0;
    }

    .brandQuality:nth-child(2) {
        border-right: none;
    }

    .Home .aboutUsContainer {
        width: 700px;
    }

    .Home .theCompany .popup {
        left: 0;
        right: 0;
        width: auto !important;
    }

    .brandQuality {
        margin-bottom: 10px;
    }

    .Home .theCompany .popup h2 {
        font-size: 1.8rem;
        line-height: 1.4;
    }

    .Home .callToAction .ButtonLink {
        margin-top: 20px;
        margin-left: 0;
    }
    
}

@media screen and (max-width: 768px) {

    .Home .callToAction {
        padding: 50px 10px;
    }

    
    .Home .theCompany {
        padding-top: 200px;
    }

    .Home .aboutUsContainer {
        width: 500px;
    }

    .Home .theCompany .popup h2 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 576px) {
    .Home .theCompany .popup {
        min-height: 300px;
        top: -150px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .Home .aboutUsContainer {
        width: 90%;
    }
    
    .Home .aboutUs {
        padding-top: 0;
    }

    .brandQuality {
        border: none !important;
        padding-left: 15px !important;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}