.PlantSanitation .pageHeaderText {
    width: 60%;
}

.PlantSanitation .HalfImageSection .textWrapper {
    margin-top: 50px;
    color: #707070;
}


.PlantSanitation .license {
    color: #4B4B4B;
}

.PlantSanitation .license .container {
    padding: 120px 11%;
}
