.OurCustomers {
    padding: 100px 0;
}

.OurCustomers .brands {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.OurCustomers .brand {
    width: 100px;
}

.OurCustomers .brand:not(:last-child) {
    margin-right: 50px;
}

.OurCustomers .brand img {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .OurCustomers .brand {
        width: 80px;
    }

    .OurCustomers .headingXl {
        font-size: 27px;
    }
}
@media screen and (max-width: 992px) {
    .OurCustomers .heading {
        flex-direction: column !important;
    }

    .OurCustomers .brands {
        margin-top: 50px;
    }

    .OurCustomers .headingXl {
        font-size: 34px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .OurCustomers .brands {
        flex-wrap: wrap;
        justify-content: center;
    }

    .OurCustomers .brand {
        display: flex;
        justify-content: center;
        width: 20%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .OurCustomers .brand img {
        width: auto;
        height: 50px;
    }

}

@media screen and (max-width: 576px) {
    .OurCustomers {
        padding: 50px 0;
    }
}