.CustomSelect {
    display: flex;
    flex-direction: column;
}

.CustomSelect.isInvalid textarea {
    border-bottom: 1px solid #b00020;
}

.CustomSelect.isInvalid label {
    color: #b00020;
}

.CustomSelect label {
    color: var(--primary-color);
    font-size: 1rem;
    margin-bottom: 5px;
}

.CustomSelect .select {
    padding: 10px;
    border: 1px solid var(--primary-color);
    position: relative;
    cursor: pointer;
}

.CustomSelect .select .current {
    color: var(--primary-color);
    font-weight: 500;
    margin-right: 10px;
}

.CustomSelect .select .caret {
    position: absolute;
    right: 10px;
}

.CustomSelect .select ul.options {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    background: #fff;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: top .3s ease, opacity .3s ease;
}

.CustomSelect .select ul.options.open {
    top: 40px;
    opacity: 1;
    visibility: visible;
}



.CustomSelect ul.options li {
    display: block;
    padding: 15px 20px;
    transition: color .3s ease, background .3s ease;
}

.CustomSelect ul.options li:hover {
    color: #fff;
    background: var(--primary-color);
}