.ServiceQuality .btnLink {
    margin-top: 150px;
}

.ServiceQuality .left {
    padding: 50px 100px;
}

.ServiceQuality .right {
    padding: 50px 0;
}

.testimonial {
    line-height: 1.6;
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    color: #707070;
}

.testimonial .author {
    margin-top: 30px;
}

.ServiceQuality .left .headingLg {
    line-height: 1.4;
    text-transform: uppercase;
}

@media screen and (min-width: 1400px) {
    .ServiceQuality .container {
        max-width: 100%;
    }
}